Host node1
  HostName 127.0.0.1
  User vagrant
  Port 60022
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/matthieufalce/Desktop/sib-octobre-2025/corrections/vagrant/.vagrant/machines/node1/qemu/private_key
  IdentitiesOnly yes
  LogLevel FATAL
  PubkeyAcceptedKeyTypes +ssh-rsa
  HostKeyAlgorithms +ssh-rsa

Host node2
  HostName 127.0.0.1
  User vagrant
  Port 60023
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/matthieufalce/Desktop/sib-octobre-2025/corrections/vagrant/.vagrant/machines/node2/qemu/private_key
  IdentitiesOnly yes
  LogLevel FATAL
  PubkeyAcceptedKeyTypes +ssh-rsa
  HostKeyAlgorithms +ssh-rsa

Host node3
  HostName 127.0.0.1
  User vagrant
  Port 60024
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/matthieufalce/Desktop/sib-octobre-2025/corrections/vagrant/.vagrant/machines/node3/qemu/private_key
  IdentitiesOnly yes
  LogLevel FATAL
  PubkeyAcceptedKeyTypes +ssh-rsa
  HostKeyAlgorithms +ssh-rsa

